@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Montserrat:wght@100;400&display=swap');
* {
    margin: 0;
    padding: 0;
}

$font-sizes: (
    "size-20": 20px,
    "size-23": 23px,
    "size-35": 35px,
);

$fonts: (
    "font-dongle": (
        "Dongle",
        sans-serif
    ),
    "font-monserrat": (
        "Monserrat",
        sans-serif
    ),
);

@each $name, $font in $fonts {
    .#{$name} {
      font-size: $font;
    }
  }
  
@each $name, $size in $font-sizes {
    .#{$name} {
        font-size: $size;
    }
}

@mixin justify-content-mixin($value) {
    justify-content: $value;  
};

h1 {
    font-size: 32px;
}

.bg-image {
    height: 100vh;
    background-image: linear-gradient(to right top, #ffffff, #faf3fb, #fde6f1, #ffd9dd, #ffcec4, #ffcbb7, #ffc8a9, #ffc79a, #ffc79a, #ffc79a, #ffc79a, #ffc79a);;
}

.display-flex {
    display: flex;
};

.purple {
    color: $color-black !important;
    border-color: $color-purple !important;
    
    &:hover {
        color: $color-white !important;
        border-color: $color-purple !important;
        background-color: $color-purple !important;
    }
}

.logo {
    animation: shake 0.5s;
}

.img-height-365 {
    min-height: 365px;
    max-height: 365px;
}

.special-btn-red {
    color: $color-white;
    background-color: $color-red;
}

/*---------NAVBAR---------*/

nav {
    @extend .display-flex;
    @include justify-content-mixin(space-between);
    align-items: center;
    background: $color-orange;
}

.navbar-items {
    @extend .display-flex;
    flex-wrap: wrap;
    @include justify-content-mixin(space-between);
    list-style-type: none;

    li {
        margin-right: 20px;
    }
    
    a {
        color: $color-red;

        &:hover {
            color: $color-white;
        }
    }
}

/*---------LOGIN---------*/

.title-name {
    @extend .display-flex;
    align-items: center;
    @include justify-content-mixin(center);
    animation: shake 1.5s;
}

/*---------FOOTER---------*/

footer {
    @extend .display-flex;
    @include justify-content-mixin(space-around);
    align-items: center;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $color-grey-white;
    font-size: 22px;

    a {
        text-decoration: none;
    }
}

.footer-img {
    width: 25px;
    height: 25px;
    padding: 5px;
    vertical-align: middle;
}

.services-list {
    @extend .display-flex;
    @include justify-content-mixin(space-around);
    flex-direction: column;
    list-style-type: none;
    row-gap: 20px;
    padding-top: 20px;
}

.action-icons {
    a {
        i {
            color: $color-red;
        }
    }
}

/*ANIMATIONS*/

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}